!Xft.autohint: 0
!Xft.lcdfilter:  lcddefault
!Xft.hintstyle:  hintfull
!Xft.hinting: 1
!Xft.antialias: 1
!Xft.rgba: rgb

!URxvt.font: xft:Fira Mono Medium:size=11
!urxvt.scrollBar: false
!Xcursor.theme: Breeze Obsidian

URxvt.foreground: white
URxvt.background: black
URxvt.saveLines: 10000
URxvt.scrollBar: false
URxvt.secondaryScroll: true
URxvt.font: xft:BitstreamVera Sans Mono:pixelsize=12
URxvt.termName: xterm-256color
URxvt.letterSpace: -1
